/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-subtitle, .euro {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Header & footer *****/

header {
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#logo {
    height : 19px;
    padding: 30px 0;
}

.menu {
    display: flex;
    list-style: none;
    gap: 68px;
}

.menu li {
    padding-top: 16px;
}

.menu li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    padding-top: 14px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.footer-title {
    margin: 0;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin-top: 15px;
}

footer article {
    padding: 20px;
    width: 33%;
}


/****** Intro ******/

h1 {
    margin: 0 0 8px 0;
    font-size: 22px;
}

#intro p {
    margin: 0;
}

form {
    margin: 35px 0;
    display: flex;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    height: 49px;
    width: fit-content;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-icon {
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    width: 50px;
}

.fa-location-dot {
    color: black;
    font-size: 18px;
}

input {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: none;
}

#search-place {
    width: 196px;
}

input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 15px 16px;
}

.search-icon {
    background-color: var(--main-color);
    padding: 15px 16px;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.fa-magnifying-glass {
    color: white;
}

.filters, .bar-filters {
    display: flex;
    gap: 15px;
}

.filters button {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-filter strong {
    font-size: 17px;
    font-weight: 700;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters .fa-solid {
    font-size: 22px;
}

#info-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 35px;
}

#info-bar .icon-container {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info {
    font-size: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.card-rating {
    letter-spacing: -2px;
}

/****** Hebergements ***********/

#hebergements {
    width: calc(66.5% - 20px);
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    padding-bottom: 10px;
}

.hebergements-cards img {
    height: 114px;
    width: 100%;
    aspect-ratio: 16/9;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 4px;
}

.hebergements-cards .fa-star {
    font-size: 13.5px;
}
#hebergements .card-content {
    padding: 0 10px;
}

#hebergements .card-subtitle {
    margin: 8px 0;
}

#hebergements .card-title, #hebergements .card-rating {
    margin: 0;
}


.hebergements-more {
    margin: 30px 0 0 0;
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
#populaires {
    width: calc(33.5% - 20px);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title .section-title {
    margin: 0;
}

.fa-chart-line {
    font-size: 18px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .fa-star {
    font-size: 12px;
}



/************* Activities *************/

#activities {
    padding: 30px;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 439px;
}

.activities-cards .card-title {
    display: flex;
    align-items: center;
    height: 59px;
    margin: 0;
    padding: 0 19px;
    box-sizing: content-box;
}

.activities-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /***** Footer & intro *****/
    footer {
        gap: 15px;
    }
    
    .filters {
        flex-direction: column;
        gap: 20px;
    }

    .filters h2 {
        margin: 0;
    }

    .button-filter strong {
        font-size: 16px;
    }

    /***** Hebergements & populaires *****/

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 0;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: calc(33% - 10px);
    }


    /***** Activities *****/

    .activities-cards .card {
        height: 270px;
    }

    .activities-cards .card-title {
        height: 70px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    main section {
        margin-left: 20px;
        margin-right: 20px;
    }

    /***** Header & Footer *****/

    nav {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #logo {
        padding: 30px;
    }

    .menu {
        padding: 0;
        margin : 0;
        gap: 0;
        width: 100%;
        text-align: center;
    }

    .menu li {
        border-bottom: 2px solid var(--main-bg-color);
        padding: 0 0 13px 0;
        width: 50%;
    }

    .menu li:hover {
        border-top: none;
        border-bottom-color: var(--main-color);
        padding-top: 0;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    footer article {
        padding: 0;
        width: 100%;
    }

    /***** Intro *****/

    input[type="submit"] {
        display: none;
    }

    .search-icon {
        display: initial;
    }

    #search-place {
        width: 226px;
    }

    #info-bar .icon-container {
        flex-shrink: 0;
        margin-top: -1px;
    }

    .filters {
        gap: 10px;
    }
    
    .bar-filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .filters button {
        margin-top: 10px;
        justify-content: start;
    }

    .button-filter strong {
        font-size: 14px;
    }

    /***** Hebergements & populaires *****/

    .hebergements-and-populaires {
        gap: 15px;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }

    #hebergements {
        order: 2;
        background-color: white;
        padding: 20px;
        margin: 0;
    }

    #hebergements .section-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-more {
        margin-top: 15px;
    }

    #populaires {
        order: 1;
        margin: 0;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    /***** Activities *****/

    #activities {
        padding: 30px 10px;
    }

    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards .card {
        height: 200px;
    }

    .activities-cards .card-title {
        height: 59px;
        flex-shrink: 0;
    }
}